/**
 * The following styles get applied both on the front end and in the editor.
 */
@import "vars";
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

// Custom properties
:root {
	--postie-grid-gap: 2rem;
	--postie-slider-gap: 20px;
	--postie-accordion-gap: 1.5rem;
	--postie-slider-theme: currentColor;
	--swiper-theme-color: var(--postie-slider-theme);
}


// Columns for grids and optionally accordions
@for $i from 1 through $columns {
	.postie-cols-sm-#{$i} {
		grid-template-columns: repeat($i, 1fr);
	}
}

@each $breakpoint, $width in $breakpoints {
	@media (min-width: $width) {
		@for $i from 1 through $columns {
			.postie-cols-#{$breakpoint}-#{$i} {
				grid-template-columns: repeat($i, 1fr);
			}
		}
	}
}

// Block styles
.postie {
	&-grid {
		display: grid;
		gap: var(--postie-grid-gap);
	}

	&-slider {
		position: relative;
		gap: var(--postie-slider-gap);
	}

	&-accordion {
		display: grid;
		gap: var(--postie-accordion-gap);

		&-title {
			margin: 0;
		}

		&-toggle {
			all: unset;
			width: 100%;
		}

		&-content {
			overflow: hidden;
		}

		&-item:not(.is-open) .postie-accordion-content {
			display: none;
		}
	}
}
